# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
# PEP 582; used by some tools and IDEs
__pypackages__/

.env 
# Django
*.log
*.pot
local_settings.py
db.sqlite3
media/

# Static files (if collected locally for deployment)
static/

# IDE-specific files (optional, can also use global gitignore)
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
